Deploy-Prod:
  stage: deploy
  script:
    - echo $CI_BUILD_REF_NAME
    - tar-cli fe_deploy -r /alidata/www/h5mo -a h5wxfront -s 121.43.121.2:120.26.223.123:120.55.86.185 --no-vhost
  environment: production
  when: manual


Deploy-Test:
  stage: deploys
  script:
    - echo $CI_BUILD_REF_NAME
    - tar-cli fe_deploy -r /alidata/www/h5mo -a h5wxfront -b "${CI_BUILD_REF_NAME}-test" -s 121.43.104.208 --no-vhost
  environment: testing
  when: manual

Deploy-Doc:
  stage: deploy
  script:
    - gitbook install
    - yarn doc:build # 构建文档
    - tar-cli fe_deploy -a h5doc -d _book --no-vhost
  environment: production
  when: manual
