<!DOCTYPE html>
<html lang="en">

<head>
    <!--<base href="http://s.wx.tarh5.cn/lianxiang/lxjd/">-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 中国太平 </title>
    <script src="http://js.tarsocial.com/h5stat-2.1.1.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://s.wx.tarh5.cn/common/js/weixincontrol.2.2.js"></script>
    <script>
       /**
         * 常量字段
         * api_host 接口地址，默认测试环境
         * share_appid 分享appid，测试环境需要，正式环境不需要（为空就行）
         * wx_appid 授权appid，默认appid用作测试环境调试开发使用，正式环境需要更换
         * tar_tid 监测id，用于监测用户数据，默认为空，正式环境才需要填入
         * tar_token 监测token，用于监测数据时判断数据有效性
         * title 分享标题
         * desc 分享描述
         * imgurl 分享小图
         * wx_link 当前页面url,不带参数，一般用作分享链接
         * success 分享成功回调
         * cancel 分享失败回调
         */
        var Constant = {
            api_host: 'http://t.h5wxapi.tarsocial.com',
            share_appid: 'wxfa065f3046ad9c21',
            wx_appid: 'wxae443fc803e5af1c',
            tar_tid: '',
            tar_token: '44d1591b0f26222613947c4d3c26ee67',
            title: '爸爸再打我一次!',
            desc: '能不能打到你呢?',
            imgurl: 'http://s.wx.tarh5.cn/taiping/fqj/share.png?v=2',
            wx_link: window.location.href.split('?')[0],
            success: function () { },
            cancel: function () { }
        }
        /**
         * 判断当前用户进入的链接是否为正式链接
         * 如果是正式链接，则需要替换Constant常量字段中数据
         * 需要替换字段：api_host、share_appid、wx_appid、tar_tid
         */
        var host = window.location.host;
        var dev_host = ["dev.h5wxfront.weisgj.com", "h5wxfront.weisgj.com"];
        var dev_host_indexOf = dev_host.indexOf(host);
        if (dev_host_indexOf == -1) {
            //正式环境
            Constant.api_host = 'http://h5wxapi2.tarsocial.com';
            Constant.share_appid = '';
            Constant.tar_tid = '109509';
        }
        /**
        *tarinit监控配置
        *wxready分享配置
        */
        var shareControl = {
            //监控
            tarinit: function (tar_info) {
                tar.init(tar_info);
            },
            //分享
            wxready: function (wx_share) {
                wx.ready(function () {
                    wx.onMenuShareAppMessage(tar.shapeShareAppMessage(wx_share));
                    wx.onMenuShareTimeline(tar.shapeShareTimeline(wx_share));
                })
            }
        }
        /**
        *监控配置
        */
        var wx_userinfo, tar_userinfo;
        var tar_info = {
            tar_debug: false,
            tar_token: Constant.tar_token,
            tar_tid: Constant.tar_tid,
            tar_userinfo: tar_userinfo
        }
        //分享配置
        var wx_share = {
            title: Constant.title,
            desc: Constant.desc,
            link: Constant.wx_link,
            imgUrl: Constant.imgurl,
            success: Constant.success,
            cancel: Constant.cancel
        }
        // 1.授权appid 2.snsaip_base隐性授权，snsapi_userinfo显性授权 3.分享appid 4.传入true，开启微信debug，默认为false，可以不传
        var WeiXincontrol = new WeiXinConfig();
        WeiXincontrol.init(Constant.wx_appid, "snsapi_base", Constant.share_appid);
        WeiXincontrol.ready(function () {
            wx_userinfo = WeiXincontrol.getUserinfo();
            tar_info.tar_userinfo = [wx_userinfo];
            shareControl.tarinit(tar_info);
            shareControl.wxready(wx_share);
        });
    </script>
    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
</head>

<body>
    <div class="container"></div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
</body>

</html>