<!DOCTYPE html>
<html lang="en">

<head>
    <!--<base href="http://s.wx.tarh5.cn/lianxiang/lxjd/">-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 中国太平 </title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <!--引入授权js-->
    <!--引入监测js-->
    <script>
        tarAuth.init({
            
        }).onReady(function () {

            sword.init({
                // 开启微信分享监测
            })

            sword.postUserInfo({

            })
            
        })
    </script>
</head>

<body>
    <div class="container">
        hello wx!
    </div>
</body>

</html>